[Desktop Entry]
Name=manafirewall
Name[ca]=manafirewall
Name[cs]=manafirewall
Name[de]=manafirewall
Name[es]=manafirewall
Name[et]=manafirewall
Name[fr]=manafirewall
Name[it]=manafirewall
Name[ja]=manafirewall
Name[nb]=manafirewall
Name[sl]=manafirewall
Name[sr]=manafirewall
Name[uk]=manafirewall
GenericName=Frontend to firewalld for firewall configuration
GenericName[ca]=Frontal per a firewalld per a la configuració del tallafoc
GenericName[cs]=Grafické prostředí pro nastavení firewallu firewalld
GenericName[de]=Frontend zur Konfiguration der Firewall bzw. des Firewall-Dienstes firewalld
GenericName[es]=Interfaz gráfica para configurar cortafuegos basado en firewalld
GenericName[et]=firewalld kasutajaliides tulemüüri seadistamiseks
GenericName[fr]=Interface graphique de configuration du pare-feu firewalld
GenericName[it]=Interfaccia a firewalld per configurare il firewall
GenericName[ja]=ファイアウォール設定のための firewalld のフロントエンド
GenericName[nb]=Frontend til firewalld for konfigurering av brannmur
GenericName[sl]=Začelje za firewalld za nastavitve požarnega zidu
GenericName[sr]=Сучеље за firewalld ради подешавања заштитног зида
GenericName[uk]=Оболонка до firewalld для налаштовування брандмауера
Comment=A graphical front end to firewalld for firewall configuration
Comment[ca]=Una interfície gràfica per a firewalld per a la configuració del tallafoc
Comment[cs]=Grafické prostředí pro nastavení firewallu firewalld
Comment[de]=Grafische Bedienoberfläche zur Konfiguration der Firewall bzw. des Firewall-Dienstes firewalld
Comment[es]=Interfaz gráfica para configurar cortafuegos basado en firewalld
Comment[et]=firewalld graafiline kasutajaliides tulemüüri seadistamiseks
Comment[fr]=Une interface graphique de configuration du pare-feu firewalld
Comment[it]=Interfaccia grafica a firewalld per configurare il firewall
Comment[ja]=ファイアウォール設定のための firewalld のグラフィカルなフロントエンド
Comment[nb]=En grafisk frontend til firewalld for brannmurkonfigurasjon
Comment[sl]=Grafično začelje za firewalld za nastavitve požarnega zidu
Comment[sr]=Графичкo сучеље за firewalld ради подешавања заштитног зида
Comment[uk]=Графічна оболонка до firewalld для налаштовування брандмауера
# Translators: These are searchable keywords for the firewall configuration tool
Keywords=firewall;network;security;iptables;netfilter;
Keywords[es]=firewall;network;security;iptables;netfilter;cortafuegos;red;seguridad;
Keywords[fr]=pare-feu;réseau;sécurité;iptables;netfilter;
Keywords[it]=firewall;rete;sicurezza;iptables;netfilter;
Keywords[uk]=firewall;network;security;iptables;netfilter;брандмауер;мережа;безпека;мережевий фільтр;екран;
Icon=manafirewall
Exec=manafirewall
Terminal=false
Type=Application
Categories=System;Settings;Security;
StartupNotify=true

